In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="pass"
)

In [3]:
cursor1 = mydb.cursor()

In [4]:
query = "CREATE DATABASE db_class2"
cursor1.execute(query)

In [5]:
query = "SHOW DATABASES"
cursor1.execute(query)

In [6]:
data = cursor1.fetchall()
print(data)

[('A',), ('Company',), ('GHJKKLK',), ('None',), ('OnlineShop',), ('OnlineShop1',), ('OnlineShop2',), ('OnlineShop20',), ('OnlineShop3',), ('Online_Shop',), ('Shop',), ('Shop8',), ('Shop_Online',), ('Shop_db',), ('UNIVER_1',), ('University',), ('a',), ('b1',), ('company',), ('database1',), ('db_class2',), ('db_online_shop',), ('fa_university1',), ('image_gallery',), ('image_gallery1',), ('img_gallery',), ('information_schema',), ('library_db',), ('mydatabase',), ('mysql',), ('new_shop',), ('online_shop',), ('p_online_shop',), ('performance_schema',), ('phone_book',), ('python1',), ('python_t',), ('shop_2',), ('studentData',), ('sys',), ('test',), ('u',), ('university',), ('upmarket',), ('weblogDB',)]

In [7]:
if ("db_class2",) in data:
    print("yes")

yes

In [8]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="pass",
    database = "db_class2"
)

In [9]:
cursor2 = mydb.cursor()

In [10]:
sql = """
        CREATE TABLE Users(
        user_id int NOT NULL,
        first_name varchar(255),
        last_name varchar(255) NOT NULL,
        age int,
        PRIMARY KEY (user_id)
        );
    """

In [11]:
cursor2.execute(sql)