In [19]:
import mysql.connector

In [20]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "pass"
)

In [21]:
mycursor = mydb.cursor()

#### create database

In [27]:
sql = "CREATE DATABASE DBblog"
try:
    mycursor.execute(sql)
except Exception as e1:
    print(e1)
print("end")

1007 (HY000): Can't create database 'DBblog'; database exists
end

#### Connect to database

In [28]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "pass",
    database = "DBblog"
)

In [29]:
mycursor = mydb.cursor()

#### Create Table

In [32]:
sql = """
        CREATE TABLE posts(
            p_id INT,
            content TEXT NOT NULL,
            title VARCHAR(255),
            category VARCHAR(255),
            PRIMARY KEY(p_id)
        )
      """
try:
  mycursor.execute(sql)
except Exception as e:
  pass

#### Insert data

In [40]:
sql = """INSERT INTO posts 
      (p_id,content,category)VALUES 
      (1, 'CONTENT1', 'C1')"""
try:
      mycursor.execute(sql)
except Exception as e:
      print(e)
else:
      mydb.commit()
"""finally:
      mydb.close()
      mycursor.close()"""

1062 (23000): Duplicate entry '1' for key 'posts.PRIMARY'

'finally:\n      mydb.close()\n      mycursor.close()'

In [16]:
sql = """INSERT INTO posts 
      (p_id,content,category)VALUES 
      (%s, %s, %s)"""
p_id = int(input("p_id: ")) # 2
content = input(f"countent of {p_id}: ") # content of 2
category =  input(f"category of {p_id}: ")

In [17]:
data = (p_id, content, category)
mycursor.execute(sql, data)

In [18]:
mydb.commit()

### Select

In [11]:
sql = "SELECT * FROM posts"
mycursor.execute(sql)

In [12]:
result = mycursor.fetchall()
print(result)

[(1, 'CONTENT1', None, 'C1')]

In [39]:
x = 12
y = 0
try:
    open()
    write()
except:
    print("Error")
else:
    print(re)
finally:
    mydb.close()

Error
finally